<div class="card-container" >
  <div class="card" *ngIf="packHistory">
    <h2>{{splitNameAtUppercase(packHistory.packType)}}</h2>

    <div class="image-container">
      <img [src]="'./assets/types/' + packHistory.packType + '.avif'" alt="{{packHistory.packType}}" />

      <img *ngIf="!imageLoaded" [src]="'../../../assets/Hourglass.png'" alt="Hourglass Image" class="placeholder-image" />

      <img *ngIf="imageLoaded" [src]="imageSrc" alt="Plotted Image"/>
    </div>

    <p class="count-label">Packs opened in current run:</p>
    <p class="count">{{packHistory.currentCount}}</p>

    <p class="runs-label">All runs:</p>
    <p class="runs">{{packHistory.runs | json}}</p>

  </div>
  <button (click)="goBack()">Go back</button>
</div>
