.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  padding: 16px;
  margin: 10px;
  text-align: center;
}

.card p {
  margin: 8px 0;
}

.count-label,
.runs-label {
  font-size: 14px;
  color: #888;
  margin-bottom: 4px;
}

.count,
.runs {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.legendary-button,
.non-legendary-button {
  color: grey;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  bottom: 16px;
  margin: 6px;
}
